.app {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr, td {
  border: 1px solid black;
}

td {
  height: 50px;
  width: 80px;
  padding: 2px;
}

.number {
  position: absolute;
  top: -2rem;
  left: 0.3rem;
}

.transition {
  font-size: 1.2rem;
  position: absolute;
  right: .3rem;
  top: -2rem;
}

.player {
  position: absolute;
  font-weight: bold;
}

.cell {
  position: relative;
}

.board-container {
  margin: .5rem;
}

#status-text {
  margin: .5rem;
}

button {
  margin: .5rem;
}